@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
    font-family: "font1";
    src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "font2";
    src: url("./fonts/Inter-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.open:hover {
    -webkit-box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 5px 11px 0px rgba(34, 60, 80, 0.2);
}

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Inter", sans-serif; */
    /* font-family: "Public Sans", sans-serif; */
}

.isopen {
    background-color: #766c57;
    width: 200px;
    height: 20px;
    transition: 0.3s;
    transform: translateX(0);
    height: 100vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.close {
    background-color: #6c5fbc;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    transform: translateX(-200px);
    border-top-right-radius: 20px;
}

a.pp {
    font-family: "font2";
}

#first {
    background-image: url("./assets/img/bgs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lorem {
    list-style-type: disc;
}

.shad {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 30px;
}

.font {
    font-family: "Inter";
}

.bx {
    position: relative;
    position: absolute;
    margin-top: -145px;
    margin-left: 120px;
}

.cardshad {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.incr {
    width: 25px;
    background-color: #323142;
    color: #fff;
    border-radius: 5px;
}

.tush {
    /* background-color: black; */
    margin-top: 150px;
}

.aa {
    -webkit-box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 13px 39px -2px rgba(34, 60, 80, 0.2);
}

.rer {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.inpdiv {
    background-image: url("./assets/img2/Subscribe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}