.korzinka {
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        background-color: white;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 10px;
    }
    &__left_block {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }
}

.count__btn {
    background-color: blueviolet;
    padding: 10px 10px;
    border-radius: 20px;
}